// colors :=
$pure__white: #FFF;
$pure__black: #000000;
$main__orange: #DE3D09;
$main__dark__orange: #AA3C3B;

// font size: =
$ft__16: 16px;
$ft__18: 18px;
$ft__20: 20px;
$ft__22: 22px;
$ft__24: 24px;
$ft__28: 28px;
$ft__32: 32px;

// font weight :=
$ft__W__Light: 300;
$ft__W__Regular: 400;
$ft__W__Medium: 500;
$ft__W__Semibold: 600;
$ft__W__Bold: 700;
$ft__W__ExtraBold: 800;

// 
$transition: .3s linear;
